.button {
  width: 200px;
  height: 50px;
}

.primary {
  color: white;
  background: #007bff;
  border: 4px solid #0077f7;
  border-radius: 200px;
  width: 372px;
  height: 63px;
  font-size: 25px;
  line-height: 29px;
}

.secondary {
  background-color: gray;
  color: black;
}

.secondary2 {
  background-color: transparent;
  color: black;
}
