.info {
  text-align: center;
  height: 100vh;
}

.info__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #016efc;
  margin: 50px 0 76px;
}

.info__text {
  width: 510px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #254050;
  margin-bottom: 80px;
}
