.login {
  text-align: center;
}

.login__head {
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

.login__head-text {
  font-weight: 700;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #75869b;
  margin-left: 13px;
}

.login__head-text-active {
  font-weight: 700;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #016efc;
  margin-right: 13px;
}

.login__head-line {
  font-weight: 700;
  font-size: 45px;
  line-height: 145.2%;
  color: #254050;
}

.login__element {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 41px;
  color: #254050;
}

.login__element:last-of-type {
  margin-bottom: 60px;
}

.login__title {
  margin-bottom: 14px;
}

.login__input {
  width: 372px;
  font-size: 18px;
  background: #f5f9ff;
  border: 4px solid #82a9ff;
  border-radius: 200px;
  padding: 16px 20px 18px;
}
