.container {
  background: no-repeat bottom right url("../assets/cloud.png") #fff;
  height: 100%;
}

.darkContainer {
  background: no-repeat bottom right url("../assets/cloud.png")
    rgb(205, 205, 205);
}
