* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.container {
  max-width: 1105px;
  margin: 0 auto;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
}
