nav {
  width: 70em;
  height: 5em;
  background-color: #f8fafe;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin-right: auto;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: #016efc;
  border-radius: 0.5em;
}

.menu {
  width: 70em;
  background-color: rgb(184, 203, 242);
  position: absolute;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #016efc;
}

.list__item {
  font-size: 24px;
  margin-bottom: 10px;
}

.list__first-column {
  display: flex;
  flex-direction: column;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
  background-color: white;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
  background-color: white;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.nav_clicked {
  background-color: #016efc;
}

.user_clicked {
  color: white;
}
