.emoji__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.emoji__item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  border: 1px solid #6e6c78;
  border-radius: 13px;
  padding: 7px;
  background-color: rgb(235, 235, 235);
}

.emoji__item:hover {
  background-color: #a496bc;
}

.emoji__item-symbol {
  font-size: 30px;
}

.emoji__item-title {
  font-size: 15px;
}

.input__emoji {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 13px;
  padding: 10px;
  font-size: 30px;
  margin: 10px 0;
}

.input__emoji:focus {
  outline: none;
}
